In [4]:
import pandas as pd
import yfinance as yf

from datetime import date

In [6]:
def remove(x):
    """
    This function will strip the data column of the dataframe.
    """
    x = str(x)
    res = x.split(" ")[0]
    return res

In [7]:
# Calling Yahoo Finance API to get latest data of bitcoin
btc = yf.Ticker("BTC-USD")  
btc = btc.history(period="max")  # we want the max data avialable 
btc.index = pd.to_datetime(btc.index)  # changing the index
btc.index = btc.index.to_series().apply(lambda x:remove(x))  # applying preprocessing function
btc.to_csv('BTC_USD_2025.csv')  # saving the data in csv format
btc  # displaying the data.

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0
2014-09-18,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0
2014-09-19,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0
2014-09-20,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0
2014-09-21,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0
...,...,...,...,...,...,...,...
2025-03-07,89963.281250,91191.046875,84717.679688,86742.671875,65945677657,0.0,0.0
2025-03-08,86742.656250,86847.265625,85247.484375,86154.593750,18206118081,0.0,0.0
2025-03-09,86154.304688,86471.132812,80052.484375,80601.039062,30899345977,0.0,0.0
2025-03-10,80597.148438,83955.929688,77420.593750,78532.000000,54061099422,0.0,0.0
2025-03-11,78582.156250,81961.257812,76808.101562,79393.367188,59638005760,0.0,0.0